@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import '_vars.scss';

@import "../node_modules/bootstrap/scss/bootstrap";

*{
	font-family: 'Roboto', sans-serif;
}

// La magia del mixin

@mixin texto($tamano, $height, $color){
    font-size: $tamano;
    line-height: $height;
    color: $color;
}

#botonera{
    ul{
        li{
            a{
                @include texto(1.2em, 1.4em, map-get($map:$paleta,$key:'menu'));
                &:hover{
                    color: map-get($map:$paleta,$key:'font');
                }
            }
        }
    }
}

.btn-celeste{
	background-color: map-get($map:$paleta,$key:'principal');
    &:hover{
        color: map-get($map:$paleta,$key:'blanco');
	    background-color:map-get($map:$paleta,$key:'azul');
    }
}


//Aca tenemos un extend
.btn-celeste-forchi{
    @extend .btn-celeste;
    font-weight: 400;
}

.bg-celeste {
	background-color: map-get($map:$paleta,$key:'principal');
}

.logo {
	width: 75px;
	height: 75px;
}

.logoSmall {
	width: 35px;
}

h1 {
    @include texto(2em, 1.4em, map-get($map:$paleta,$key:'titulos'));
	border-bottom: solid;
}

p, label {
     @include texto(1.2em, 1.4em, map-get($map:$paleta,$key:'font'));
}

/* carousel-indicators invierto color para que se vean oscuros*/
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators,
.carousel-caption {
    filter: invert(100%);
}